/** Letters Game Primary SCSS File
 * @author: Kaiwah
 */
@import 'reset.scss';

// GLOBALS
body * {
  font-size: 16px; 
  box-sizing: border-box; 
}

// MIXINS
@mixin ArialBold {
  font-family: Arial, sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

// GLOBALVARS
$boardSize: 400px;
$buttonSize: 85px;
$gray: #979797;
$lghtRed: #f55160;
$rubyRed: #d0021b;
$darkRed: #a0041c;
$yellow: #fad760;
$orange: #f76d1d;
$midGreen: #7ed321;
$darkGreen: #459623;
$limeGreen: #b3ec50;

// GAMEBOARD
div.game-container {
  display: block;
  position: relative;
  width: 100%;
  div.gameboard {
    max-width: $boardSize;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    margin: 80px auto;
    button {
      width: $buttonSize; height: $buttonSize;
      position: relative;
      @include ArialBold;
      color: white;
      text-shadow: -2px -2px 3px rgba(0,0,0,0.4);
      border: 0px solid transparent; // for gradient
      background-clip: padding-box; // for gradient
      background: linear-gradient(to bottom, $yellow, $orange);
      border-radius: 15px;
      &:hover { opacity: 0.95; }
      &:not(:nth-last-child(-n+4)){ margin-bottom: 18px; }
      &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background: linear-gradient(to bottom, $lghtRed, $darkRed);
        border-radius: 18px;
        margin: -2px;
        z-index: -1;
      }
      &.selected {
        border: 0px solid green; 
        background: linear-gradient(to bottom, $limeGreen, $darkGreen); 
        &:before { background: linear-gradient(to bottom, $limeGreen, $darkGreen); }
      }
    }
  }
  div.word-container {
    max-width: $boardSize;
    margin: auto;
    div.word-display { width: 100%; height: $buttonSize;
      position: relative;
      @include ArialBold;
      color: $midGreen;
      border: 2px solid $gray;
      padding: 25px;
      &.valid:after   { content: 'valid'; color: rgba(0,150,0,0.4); }
      &.invalid:after { content: 'invalid'; color: rgba(150,0,0,0.4); }
      &.valid:after, &.invalid:after {
        position: absolute;
        right: 20px; top: 0;
        font-size: 1rem;
        font-weight: 100;
        line-height: $buttonSize;      
      }
    }   
  }
  div.game-clear {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    color: gray;
    &:hover { cursor: pointer; }
    div.clear-icon {
      width: 42px; height: 42px;
      color: white;
      font-size: 2rem;
      text-align: center;
      line-height: 42px;
      background: gray;
      border-radius: 40px; 
      margin-left: 20px;
    }
  }
  // tablet + desktop styling
  @media screen and (min-width: 768px){
    max-width: 850px;
    display: flex;
    margin: 20px auto;
    div.gameboard {
      display: inline-flex;
      margin: 0 auto;
      button.selected { 
        background: transparent; 
        &:before { background: linear-gradient(to bottom, $lghtRed, $darkRed); }
      }
    }
    div.word-container {
      width: 100%;
      max-width: 430px;
      display: inline-flex;
      flex-direction: column;
      justify-content: flex-end;
      margin: 0 0 0 20px;
      div.word-display { color: $rubyRed }
    }
    div.game-clear {
      position: absolute;
      right: 0;
      justify-content: center;
    }
  }
}
